.App {
  max-width: 600px;
  margin: 30px auto;
}

body {
  background-image: url("..public/images/cloud-image.webp");
  background-size: cover;
  font-family: arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 36px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  font-size: 14px;
  text-decoration: none;
}

small {
  margin: 0 auto;
  text-align: center;
  color: #878787;
}
